.container{
  text-align: center;
}

.h1{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  color: #b3b3b3;
  color: rgba(30, 30, 30, 0.30);
  text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
}

#text1{
  font-size: 25px;
  color: #1e1e1e;
  display: block;
  margin: 0 auto;
  padding: 35px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 4px 4px 4px black;
  width: 550px;
  &:focus{
    border : 2px solid dodgerblue;
  }
}

*::-webkit-input-placeholder {
  font-size: 25px;
  font-style: italic;
  color: slategray;
}

.add li{
  margin: 0 auto;
  padding: 35px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: 1px 1px 1px black;
  width: 400px;;
  border-top: 2px solid #000000;
  position: relative;
  left: -17px;
  text-align: center;
}
ul {
  list-style-type: none;
  font-size: 25px;
  color: #1e1e1e;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.check {
  float: left;
  text-align: center;
  -webkit-transition : 0.5s ease-in-out;
  color: black;
  &:hover{
    color: green;
  }
}

.uncheck {
  float : right;
  text-align: center;
  -webkit-transition : 0.5s ease-in-out;
  &:hover{
    color: red;
  }
}
